- var dieTypes = ['yellow', 'green', 'blue', 'red', 'purple', 'black', 'force']

html
  head
    title Star Wars Dice Roller
    link(rel='stylesheet', href='styles.css')

  body
    h1 Star Wars Dice Roller
    form.dice-form
      each dieType in dieTypes
        .die-control
          label(for=dieType)= dieType
          |
          input(name=dieType, min='0', value='2')
          |
          a.quantity-control.up(href='#') &#x25B2;
          |
          a.quantity-control.down(href='#') &#x25BC;
    |  

    a.roll(href='javascript:;') Roll!

    br
    br

    div.results
      .success-container
        .success-label(style='font-weight: bold; display: inline;') Success:
        .success-value(style='display: inline; margin-left: 5px;')
      .advantage-container
        .advantage-label(style='font-weight: bold; display: inline;') Advantage:
        .advantage-value(style='display: inline; margin-left: 5px;')
      .lightside-container
        .lightside-label(style='font-weight: bold; display: inline;') Lightside:
        .lightside-value(style='display: inline; margin-left: 5px;')
      .darkside-container
        .darkside-label(style='font-weight: bold; display: inline;') Darkside:
        .darkside-value(style='display: inline; margin-left: 5px;')
      .special-container
        .special-label(style='font-weight: bold; display: inline;') Special:
        .special-value(style='display: inline; margin-left: 5px;')

      div
        script(src='js/dependencies/lodash.min.js')
        script(src='js/dependencies/jquery.min.js')
        script(src='js/dice.js')
        script(src='js/diceRoller.js')
