- var dieTypes = ['yellow', 'green', 'blue', 'red', 'purple', 'black', 'force']
- var resultTypes = ['success', 'advantage', 'lightside', 'darkside', 'special']

html
  head
    title Star Wars Dice Roller
    link(rel='stylesheet', href='styles.css')

  body
    h1 Star Wars Dice Roller
    form.dice-form
      each dieType in dieTypes
        .die-control
          label(for=dieType)= dieType
          input(name=dieType, min='0', value='2')
          a.quantity-control.up(href='#') +
          a.quantity-control.down(href='#') -

    a.roll(href='javascript:;') Roll!

    br
    br

    div.results
      each resultType in resultTypes
        .result-container(class=resultType)
          .label= resultType + ":"
          .value

    div.scripts
      script(src='js/dependencies/lodash.min.js')
      script(src='js/dependencies/jquery.min.js')
      script(src='js/dice.js')
      script(src='js/diceRoller.js')
