html
  head
    title Star Wars Dice Roller
    link(rel='stylesheet', href='styles.css')
  body
    h1 Star Wars Dice Roller
    form.dice-form
      .die-control
        label(for='yellow') yellow
        |  
        input(name='yellow', min='0', value='2')
        |  
        a.quantity-control.up(href='#') &#x25B2;
        |  
        a.quantity-control.down(href='#') &#x25BC;
      .die-control
        label(for='green') green
        |  
        input(name='green', min='0', value='2')
        |  
        a.quantity-control.up(href='#') &#x25B2;
        |  
        a.quantity-control.down(href='#') &#x25BC;
      .die-control
        label(for='blue') blue
        |  
        input(name='blue', min='0', value='2')
        |  
        a.quantity-control.up(href='#') &#x25B2;
        |  
        a.quantity-control.down(href='#') &#x25BC;
      .die-control
        label(for='red') red
        |  
        input(name='red', min='0', value='2')
        |  
        a.quantity-control.up(href='#') &#x25B2;
        |  
        a.quantity-control.down(href='#') &#x25BC;
      .die-control
        label(for='purple') purple
        |  
        input(name='purple', min='0', value='2')
        |  
        a.quantity-control.up(href='#') &#x25B2;
        |  
        a.quantity-control.down(href='#') &#x25BC;
      .die-control
        label(for='black') black
        |  
        input(name='black', min='0', value='2')
        |  
        a.quantity-control.up(href='#') &#x25B2;
        |  
        a.quantity-control.down(href='#') &#x25BC;
      .die-control
        label(for='force') force
        |  
        input(name='force', min='0', value='2')
        |  
        a.quantity-control.up(href='#') &#x25B2;
        |  
        a.quantity-control.down(href='#') &#x25BC;
    |  
    a.roll(href='javascript:;') Roll!
    br
    br
    div
      .success-container
        .success-label(style='font-weight: bold; display: inline;') Success:
        .success-value(style='display: inline; margin-left: 5px;')
      .advantage-container
        .advantage-label(style='font-weight: bold; display: inline;') Advantage:
        .advantage-value(style='display: inline; margin-left: 5px;')
      .lightside-container
        .lightside-label(style='font-weight: bold; display: inline;') Lightside:
        .lightside-value(style='display: inline; margin-left: 5px;')
      .darkside-container
        .darkside-label(style='font-weight: bold; display: inline;') Darkside:
        .darkside-value(style='display: inline; margin-left: 5px;')
      .special-container
        .special-label(style='font-weight: bold; display: inline;') Special:
        .special-value(style='display: inline; margin-left: 5px;')
      div
        script(src='lodash.min.js')
        script(src='jquery.min.js')
        script(src='dice.js')
        script(src='diceRoller.js')
