@mixin shape {
  display: inline-block;
  position: relative;
  left: -7px;
}

$hexagon-width: 30px;
$hexagon-side-height: 10px;
@mixin hexagon-pseudo {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-left: ($hexagon-width/2) solid transparent;
  border-right: ($hexagon-width/2) solid transparent;
}

@mixin hexagon($color) {
  @include shape;
  width: $hexagon-width;
  height: 18px;
  top: 5px;
  background-color: $color;
  -webkit-transform: rotate(90deg); 
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);

  &:before {
    @include hexagon-pseudo;
    top: -$hexagon-side-height;
    border-bottom: $hexagon-side-height solid $color;
  }

  &:after {
    @include hexagon-pseudo;
    bottom: -$hexagon-side-height;
    border-top: $hexagon-side-height solid $color;
  }
}

$square-size: 28px;
@mixin square($color) {
  @include shape;
  top: 9px;
  background-color: $color;
  width: $square-size;
  height: $square-size;
}

$diamond-size: 15px;
@mixin diamond($color) {
  @include shape;
  width: 0;
  height: 0;
  border: $diamond-size solid transparent;
  border-bottom: ($diamond-size * 4/3) solid $color;
  top: -5px;

  &:after {
    content: '';
    position: absolute;
    left: -$diamond-size;
    top: ($diamond-size * 4/3);
    width: 0;
    height: 0;
    border: $diamond-size solid transparent;
    border-top: ($diamond-size * 4/3) solid $color;
  }
}

.symbol {
  &.yellow {
    @include hexagon(#E9D23F);
  }

  &.green {
    @include diamond(#4F6441);
  }

  &.blue {
    @include square(#9CBBF1);
  }

  &.red {
    @include hexagon(#B73C40);
  }

  &.purple {
    @include diamond(#3B2956);
  }

  &.black {
    @include square(black);
  }

  &.force {
    @include square(white);
  }
}