$background: #C6C4C8;
$background-accent: #9C939F;
$background-border: #69606c;
$header-text: #5B2B16;
$regular-text: #5A2B1A;
$link: #1973CD;
$link-background: #B1DEFD;

html {
  background-color: $background-accent;
}

body {
  font-family: sans-serif;
  margin: auto;
  width: 50%;
  padding-top: 25px;
  text-align: center;
  background-color: $background;
  color: $regular-text;
  border-style: solid;
  border-color: $background-border;
  border-width: 0px 3px 0px 3px;
}

h1 {
  color: $header-text;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $link;
  border: 1px solid $link;
  padding: 5px;
  background-color: $link-background;
  border-radius: 5px;

  &.roll {
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 30px;
  }
}

.die-control {
  display: flex;
  float: left;
  align-items: center;
  justify-content: center;
  width: calc(100% / 3);
  height: 50px;
  margin-bottom: 10px;

  label {
    display: inline-block;
    width: 50px;
    margin-right: 5px;
    text-transform:capitalize;
    vertical-align: middle;
  }

  input {
    padding: 5px;
    height: 32px;
    width: 32px;
    text-align: center;
    border-right: 0;
    border-left: 0;
    border-top: 1px solid #4186CD;
    border-bottom: 1px solid #4186CD;
  }

  &:last-child {
    width: 100%;
  }
}

.quantity-control {
  height: 20px;
  width: 20px;
  text-decoration: none;

  &.up {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  &.down {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}

.results {
  width: 400px;
  margin: auto;
}

.result-container {
  width: 50%;
  float: left;
  margin-bottom: 10px;
  font-size: 0.95em;

  .label {
    display: inline-block;
    font-weight: bold;
    text-transform: capitalize;
  }

  .value {
    display: inline;
    margin-left: 5px;
  }

  &.special {
    width: 100%;
  }
}

.hidden {
  display: none;
}

.clear {
  clear: both;
}

@media only screen and (max-width: 1350px) {
  body {
    width: 75%;
  }
}

@media only screen and (max-width: 850px) {
  body {
    width: 100%;
    border: none;
  }
}

@media only screen and (max-width: 650px) {
  .die-control {
    width: 100%;
  }
}
